# Data Engineer with Python

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sqlalchemy import types, create_engine
from sqlalchemy.engine.url import URL
import psycopg2
from sqlalchemy.orm import sessionmaker
import pyodbc
import urllib
import json

In [72]:
def to_postgres(user,server,database):
    engine_postgres = create_engine(f'postgresql+psycopg2://postgres:{user}@{server}/{database}')
    return engine_postgres

In [73]:
user = 'postgres'
server = 'localhost'
database = 'postgres'
to_postgres(user,server,database)

Engine(postgresql+psycopg2://postgres:***@localhost/postgres)

In [4]:
def to_sql(server,database):     
    quoted = urllib.parse.quote_plus('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes')
    engine_sql = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
    return engine_sql

In [5]:
server = 'EDM-IYKRA-Hanif' 
database = 'data'
to_sql(server,database)

Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DEDM-IYKRA-Hanif%3BDATABASE%3Ddata%3BTrusted_Connection%3Dyes)

## Unstructured Data

### Image

#### Greyscale

In [11]:
path = 'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/humans/human01-00.png'

In [12]:
import cv2
  
# read the image file
img = cv2.imread(path, 2)
  
ret, bw_img = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
  
# converting to its binary form
bw = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)

In [41]:
import os
source_path = 'image'
source_horses = os.path.join(source_path,'horses')
source_humans = os.path.join(source_path,'humans')
source_horses.replace('\\','/')
source_humans.replace('\\','/')
print('horses',len(os.listdir(source_horses)))
print('humans',len(os.listdir(source_horses)))

horses 500
humans 500

In [66]:
horses = []
for i in (os.listdir(source_horses)):
    path = f'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/horses/{i}'
    img = cv2.imread(path, 2)
    ret, bw_img = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
    bw = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
    horses.append(bw)
    np.array(horses)

C:\Users\Hanif\AppData\Local\Temp\ipykernel_20060\2472828962.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(horses)

In [134]:
df = pd.DataFrame({'name':os.listdir(source_horses),'image':horses})

In [140]:
image = []
for i in range(0,len(df['image'])):
    a = df['image'][i][1]/255
    a = a.tolist()
    image.append(a)

In [141]:
df['image_process'] = image

In [142]:
df = df[['name','image_process']]

In [144]:
df.to_sql('horses_image', to_postgres(user,server,database),if_exists='replace',index=False)

500

#### Varbinary

In [7]:
server = 'MSI' 
database = 'data'
engine = to_sql(server,database)

In [8]:
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''IF OBJECT_ID(N'dbo.Images', N'U') IS NULL
CREATE TABLE dbo.Images
(name varchar(100),
img varbinary(max))''')
session.commit()
session.close()

In [9]:
session.execute('''TRUNCATE TABLE dbo.Images ''')
session.commit()
session.close()

In [26]:
session.execute('''insert into dbo.Images values(
'human01-00.png',(select * from Openrowset (BULK 'C:\\Users\Hanif\Data Science\Data Engineer\Data-Engineer-with-Python\image\horses\horse01-0.png', Single_Blob)as T)
)''')
session.commit()
session.close()

In [31]:
import os
source_path = r'C:\Users\Hanif\Data Science\Data Engineer\Data-Engineer-with-Python\image'
source_horses = os.path.join(source_path,'horses')
source_horses = source_horses.replace('\\','/')
print('horses',len(os.listdir(source_horses)))

horses 500

In [33]:
for i in (os.listdir(source_horses)):
    path = f'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/horses/{i}'
    session.execute(f'''insert into dbo.Images values(
    '{i}',(select * from Openrowset (BULK '{path}', Single_Blob)as T)
    )''')
    session.commit()
    session.close()

In [34]:
pd.read_sql('''select * from dbo.images''',con=engine)

               name                                                img
0    human01-00.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
1     horse01-0.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
2     horse01-1.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
3     horse01-2.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
4     horse01-3.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
..              ...                                                ...
496   horse50-5.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
497   horse50-6.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
498   horse50-7.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
499   horse50-8.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
500   horse50-9.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...

[501 rows x 2 columns]

## Semi Structured

### Parquet

In [5]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet', engine='pyarrow')

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

### XML from Webscrapping

In [16]:
import datetime
import requests
from bs4 import BeautifulSoup
import time

In [7]:
def real_time_price(stock_code): 
    headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'}
    url_1 = 'https://finance.yahoo.com/quote/'
    url_2 = '.JK?p='
    url_3 = '.JK&.tsrc=fin-srch'
    url = url_1 + stock_code + url_2 + stock_code + url_3
    resp = requests.get(url, headers=headers) 
    web_content = BeautifulSoup(resp.text,'lxml')
    web_content = web_content.find('div',{"class":"My(6px) Pos(r) smartphone_Mt(6px) W(100%)"})
    web_content = web_content.find('fin-streamer', {'data-field': 'regularMarketPrice'}).text.replace(',', '')

    if web_content ==[]:
        web_content = '99999'
    return web_content

In [8]:

def to_dataframe(stocks):
    price = []
    col = []
    timestamp = datetime.datetime.now()
    timestamp = timestamp.strftime("%Y-%m-%d %H:%M:%S")
    for stock_code in stocks:
        price.append(real_time_price(stock_code))
    col = [timestamp]
    col.extend(price)
    df = pd.DataFrame(col)
    df = df.T
    df = df.rename(columns={0:'timestamp',1:stocks[0],2:stocks[1],3:stocks[2]})
    return df

In [9]:

def to_dataframe(stocks):
    price = []
    col = []
    timestamp = datetime.datetime.now()
    timestamp = timestamp.strftime("%Y-%m-%d %H:%M:%S")
    for stock_code in stocks:
        price.append(real_time_price(stock_code))
    col = [timestamp]
    col.extend(price)
    df = pd.DataFrame(col)
    df = df.T
    df = df.rename(columns={0:'timestamp',1:stocks[0],2:stocks[1],3:stocks[2]})
    return df

In [10]:
stocks = ['BBRI','BBCA','BBNI']

In [17]:
df=to_dataframe(stocks)

In [20]:
df

             timestamp     BBRI     BBCA     BBNI
0  2023-05-30 14:58:33  5550.00  9275.00  9075.00

### JSON

In [36]:
server = 'MSI' 
database = 'data'
engine = to_sql(server,database)

In [37]:
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''IF OBJECT_ID(N'dbo.CustomerOrder', N'U') IS NULL
CREATE TABLE dbo.CustomerOrder
(
CustomerID bigint null,
FirstName varchar(max) null,
LastName varchar(max) null,
OrderDetails NVARCHAR(max)
CHECK (IsJSON(OrderDetails)= 1)
)''')
session.commit()
session.close()

In [38]:
session.execute('''TRUNCATE TABLE dbo.CustomerOrder''')
session.commit()
session.close()

In [14]:
session.execute('''INSERT INTO dbo.CustomerOrder
SELECT CustomerID,FirstName,LastName,
OrderDetails = (select InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,Total from invoices as b 
where a.CustomerId=b.CustomerId FOR JSON AUTO)
from customers as a''')
session.commit()
session.close()

In [15]:
pd.read_sql('''select * from dbo.CustomerOrder''',con=engine)

,CustomerID,FirstName,LastName,OrderDetails
0,1,Luís,Gonçalves,"[{""InvoiceId"":98,""CustomerId"":1,""InvoiceDate"":..."
1,2,Leonie,Köhler,"[{""InvoiceId"":1,""CustomerId"":2,""InvoiceDate"":""..."
2,3,François,Tremblay,"[{""InvoiceId"":99,""CustomerId"":3,""InvoiceDate"":..."
3,4,Bjørn,Hansen,"[{""InvoiceId"":2,""CustomerId"":4,""InvoiceDate"":""..."
4,5,František,Wichterlová,"[{""InvoiceId"":77,""CustomerId"":5,""InvoiceDate"":..."
5,6,Helena,Holý,"[{""InvoiceId"":46,""CustomerId"":6,""InvoiceDate"":..."
6,7,Astrid,Gruber,"[{""InvoiceId"":78,""CustomerId"":7,""InvoiceDate"":..."
7,8,Daan,Peeters,"[{""InvoiceId"":3,""CustomerId"":8,""InvoiceDate"":""..."
8,9,Kara,Nielsen,"[{""InvoiceId"":56,""CustomerId"":9,""InvoiceDate"":..."
9,10,Eduardo,Martins,"[{""InvoiceId"":25,""CustomerId"":10,""InvoiceDate""..."
10,11,Alexandre,Rocha,"[{""InvoiceId"":57,""CustomerId"":11,""InvoiceDate""..."
11,12,Roberto,Almeida,"[{""InvoiceId"":34,""CustomerId"":12,""InvoiceDate""..."
12,13,Fernanda,Ramos,"[{""InvoiceId"":35,""CustomerId"":13,""InvoiceDate""..."
13,14,Mark,Philips,"[{""InvoiceId"":4,""CustomerId"":14,""InvoiceDate"":..."
14,15,Jennifer,Peterson,"[{""InvoiceId"":36,""CustomerId"":15,""InvoiceDate""..."
15,16,Frank,Harris,"[{""InvoiceId"":13,""CustomerId"":16,""InvoiceDate""..."
16,17,Jack,Smith,"[{""InvoiceId"":14,""CustomerId"":17,""InvoiceDate""..."
17,18,Michelle,Brooks,"[{""InvoiceId"":112,""CustomerId"":18,""InvoiceDate..."
18,19,Tim,Goyer,"[{""InvoiceId"":15,""CustomerId"":19,""InvoiceDate""..."
19,20,Dan,Miller,"[{""InvoiceId"":113,""CustomerId"":20,""InvoiceDate..."
20,21,Kathy,Chase,"[{""InvoiceId"":16,""CustomerId"":21,""InvoiceDate""..."
21,22,Heather,Leacock,"[{""InvoiceId"":91,""CustomerId"":22,""InvoiceDate""..."
22,23,John,Gordon,"[{""InvoiceId"":5,""CustomerId"":23,""InvoiceDate"":..."
23,24,Frank,Ralston,"[{""InvoiceId"":92,""CustomerId"":24,""InvoiceDate""..."
24,25,Victor,Stevens,"[{""InvoiceId"":17,""CustomerId"":25,""InvoiceDate""..."
25,26,Richard,Cunningham,"[{""InvoiceId"":70,""CustomerId"":26,""InvoiceDate""..."
26,27,Patrick,Gray,"[{""InvoiceId"":39,""CustomerId"":27,""InvoiceDate""..."
27,28,Julia,Barnett,"[{""InvoiceId"":71,""CustomerId"":28,""InvoiceDate""..."
28,29,Robert,Brown,"[{""InvoiceId"":48,""CustomerId"":29,""InvoiceDate""..."
29,30,Edward,Francis,"[{""InvoiceId"":49,""CustomerId"":30,""InvoiceDate""..."
30,31,Martha,Silk,"[{""InvoiceId"":18,""CustomerId"":31,""InvoiceDate""..."
31,32,Aaron,Mitchell,"[{""InvoiceId"":50,""CustomerId"":32,""InvoiceDate""..."
32,33,Ellie,Sullivan,"[{""InvoiceId"":27,""CustomerId"":33,""InvoiceDate""..."
33,34,João,Fernandes,"[{""InvoiceId"":28,""CustomerId"":34,""InvoiceDate""..."
34,35,Madalena,Sampaio,"[{""InvoiceId"":126,""CustomerId"":35,""InvoiceDate..."
35,36,Hannah,Schneider,"[{""InvoiceId"":29,""CustomerId"":36,""InvoiceDate""..."
36,37,Fynn,Zimmermann,"[{""InvoiceId"":6,""CustomerId"":37,""InvoiceDate"":..."
37,38,Niklas,Schröder,"[{""InvoiceId"":7,""CustomerId"":38,""InvoiceDate"":..."
38,39,Camille,Bernard,"[{""InvoiceId"":105,""CustomerId"":39,""InvoiceDate..."
39,40,Dominique,Lefebvre,"[{""InvoiceId"":8,""CustomerId"":40,""InvoiceDate"":..."
40,41,Marc,Dubois,"[{""InvoiceId"":106,""CustomerId"":41,""InvoiceDate..."
41,42,Wyatt,Girard,"[{""InvoiceId"":9,""CustomerId"":42,""InvoiceDate"":..."
42,43,Isabelle,Mercier,"[{""InvoiceId"":84,""CustomerId"":43,""InvoiceDate""..."
43,44,Terhi,Hämäläinen,"[{""InvoiceId"":53,""CustomerId"":44,""InvoiceDate""..."
44,45,Ladislav,Kovács,"[{""InvoiceId"":85,""CustomerId"":45,""InvoiceDate""..."
45,46,Hugh,O'Reilly,"[{""InvoiceId"":10,""CustomerId"":46,""InvoiceDate""..."
46,47,Lucas,Mancini,"[{""InvoiceId"":63,""CustomerId"":47,""InvoiceDate""..."
47,48,Johannes,Van der Berg,"[{""InvoiceId"":32,""CustomerId"":48,""InvoiceDate""..."
48,49,Stanislaw,Wójcik,"[{""InvoiceId"":64,""CustomerId"":49,""InvoiceDate""..."
49,50,Enrique,Muñoz,"[{""InvoiceId"":41,""CustomerId"":50,""InvoiceDate""..."
50,51,Joakim,Johansson,"[{""InvoiceId"":42,""CustomerId"":51,""InvoiceDate""..."
51,52,Emma,Jones,"[{""InvoiceId"":11,""CustomerId"":52,""InvoiceDate""..."
52,53,Phil,Hughes,"[{""InvoiceId"":43,""CustomerId"":53,""InvoiceDate""..."
53,54,Steve,Murray,"[{""InvoiceId"":20,""CustomerId"":54,""InvoiceDate""..."
54,55,Mark,Taylor,"[{""InvoiceId"":21,""CustomerId"":55,""InvoiceDate""..."
55,56,Diego,Gutiérrez,"[{""InvoiceId"":119,""CustomerId"":56,""InvoiceDate..."
56,57,Luis,Rojas,"[{""InvoiceId"":22,""CustomerId"":57,""InvoiceDate""..."
57,58,Manoj,Pareek,"[{""InvoiceId"":120,""CustomerId"":58,""InvoiceDate..."
58,59,Puja,Srivastava,"[{""InvoiceId"":23,""CustomerId"":59,""InvoiceDate""..."

### Database

In [1]:
import sqlite3

In [5]:
def to_postgres(user,server,database):
    engine_postgres = create_engine(f'postgresql+psycopg2://postgres:{user}@{server}/{database}')
    return engine_postgres
user = 'postgres'
server = 'localhost'
database = 'postgres'
engine = to_postgres(user,server,database)

In [6]:
db = 'chinook.db'
def run_query(q):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(q,conn)
def run_command(c):
    with sqlite3.connect(db) as conn:
        conn.isolation_level = None
        conn.execute(c)
def show_tables():
    q = '''
        SELECT
            name,
            type
        FROM sqlite_master
        WHERE type IN ("table","view");
        '''
    return run_query(q)

In [7]:
show_tables()

               name   type
0            albums  table
1   sqlite_sequence  table
2           artists  table
3         customers  table
4         employees  table
5            genres  table
6          invoices  table
7     invoice_items  table
8       media_types  table
9         playlists  table
10   playlist_track  table
11           tracks  table
12     sqlite_stat1  table

In [9]:
table = show_tables()['name']
for i in table:
    q = 'SELECT * FROM'+ " " +i 
    a = run_query(q)
    a.to_sql(i, schema='public', con = engine, chunksize=200, method='multi', index=False, if_exists='replace')

In [17]:
pd.read_sql('''SELECT * FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema = 'public' ''',con=engine)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,postgres,public,invoices,BASE TABLE,None,None,None,None,None,YES,NO,None
1,postgres,public,test_table,BASE TABLE,None,None,None,None,None,YES,NO,None
2,postgres,public,invoice_items,BASE TABLE,None,None,None,None,None,YES,NO,None
3,postgres,public,albums,BASE TABLE,None,None,None,None,None,YES,NO,None
4,postgres,public,sqlite_sequence,BASE TABLE,None,None,None,None,None,YES,NO,None
5,postgres,public,artists,BASE TABLE,None,None,None,None,None,YES,NO,None
6,postgres,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
7,postgres,public,employees,BASE TABLE,None,None,None,None,None,YES,NO,None
8,postgres,public,genres,BASE TABLE,None,None,None,None,None,YES,NO,None
9,postgres,public,media_types,BASE TABLE,None,None,None,None,None,YES,NO,None
10,postgres,public,playlists,BASE TABLE,None,None,None,None,None,YES,NO,None
11,postgres,public,playlist_track,BASE TABLE,None,None,None,None,None,YES,NO,None
12,postgres,public,tracks,BASE TABLE,None,None,None,None,None,YES,NO,None
13,postgres,public,sqlite_stat1,BASE TABLE,None,None,None,None,None,YES,NO,None
14,postgres,public,horses_image,BASE TABLE,None,None,None,None,None,YES,NO,None
15,postgres,public,spreadsheet,BASE TABLE,None,None,None,None,None,YES,NO,None
16,postgres,public,your_table_name,BASE TABLE,None,None,None,None,None,YES,NO,None