# Data Engineer with Python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sqlalchemy import types, create_engine
from sqlalchemy.engine.url import URL
import psycopg2
from sqlalchemy.orm import sessionmaker
import pyodbc
import urllib
import json

In [72]:
def to_postgres(user,server,database):
    engine_postgres = create_engine(f'postgresql+psycopg2://postgres:{user}@{server}/{database}')
    return engine_postgres

In [73]:
user = 'postgres'
server = 'localhost'
database = 'postgres'
to_postgres(user,server,database)

Engine(postgresql+psycopg2://postgres:***@localhost/postgres)

In [4]:
def to_sql(server,database):     
    quoted = urllib.parse.quote_plus('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes')
    engine_sql = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
    return engine_sql

In [5]:
server = 'EDM-IYKRA-Hanif' 
database = 'data'
to_sql(server,database)

Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DEDM-IYKRA-Hanif%3BDATABASE%3Ddata%3BTrusted_Connection%3Dyes)

## Unstructured Data

### Image

#### Greyscale

In [11]:
path = 'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/humans/human01-00.png'

In [12]:
import cv2
  
# read the image file
img = cv2.imread(path, 2)
  
ret, bw_img = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
  
# converting to its binary form
bw = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)

In [41]:
import os
source_path = 'image'
source_horses = os.path.join(source_path,'horses')
source_humans = os.path.join(source_path,'humans')
source_horses.replace('\\','/')
source_humans.replace('\\','/')
print('horses',len(os.listdir(source_horses)))
print('humans',len(os.listdir(source_horses)))

horses 500
humans 500

In [66]:
horses = []
for i in (os.listdir(source_horses)):
    path = f'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/horses/{i}'
    img = cv2.imread(path, 2)
    ret, bw_img = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
    bw = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
    horses.append(bw)
    np.array(horses)

C:\Users\Hanif\AppData\Local\Temp\ipykernel_20060\2472828962.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(horses)

In [134]:
df = pd.DataFrame({'name':os.listdir(source_horses),'image':horses})

In [140]:
image = []
for i in range(0,len(df['image'])):
    a = df['image'][i][1]/255
    a = a.tolist()
    image.append(a)

In [141]:
df['image_process'] = image

In [142]:
df = df[['name','image_process']]

In [144]:
df.to_sql('horses_image', to_postgres(user,server,database),if_exists='replace',index=False)

500

#### Varbinary

In [8]:
server = 'EDM-IYKRA-HANIF' 
database = 'data'
engine = to_sql(server,database)

In [10]:
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''IF OBJECT_ID(N'dbo.Images', N'U') IS NULL
CREATE TABLE dbo.Images
(name varchar(100),
img varbinary(max))''')
session.commit()
session.close()

In [15]:
session.execute('''TRUNCATE TABLE dbo.Images ''')
session.commit()
session.close()

In [14]:
session.execute('''insert into dbo.Images values(
'human01-00.png',(select * from Openrowset (BULK 'D:\PROJECT\Data-Engineer-with-Python-main\Data-Engineer-with-Python-main\image\horses\horses\horse01-0.png', Single_Blob)as T)
)''')
session.commit()
session.close()

In [25]:
import os
source_path = r'D:\PROJECT\Data-Engineer-with-Python-main\Data-Engineer-with-Python-main\image\horses'
source_horses = os.path.join(source_path,'horses')
source_horses = source_horses.replace('\\','/')
print('horses',len(os.listdir(source_horses)))

horses 500

In [27]:
for i in (os.listdir(source_horses)):
    path = f'D:/PROJECT/Data-Engineer-with-Python-main/Data-Engineer-with-Python-main/image/horses/horses/{i}'
    session.execute(f'''insert into dbo.Images values(
    '{i}',(select * from Openrowset (BULK '{path}', Single_Blob)as T)
    )''')
    session.commit()
    session.close()

In [30]:
pd.read_sql('''select * from dbo.images''',con=engine)

              name                                                img
0    horse01-0.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
1    horse01-1.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
2    horse01-2.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
3    horse01-3.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
4    horse01-4.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
..             ...                                                ...
495  horse50-5.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
496  horse50-6.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
497  horse50-7.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
498  horse50-8.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
499  horse50-9.png  b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...

[500 rows x 2 columns]