# Data Engineer with Python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
from sqlalchemy import types, create_engine
from sqlalchemy.engine.url import URL
import psycopg2
from sqlalchemy.orm import sessionmaker
import pyodbc
import urllib
import json

In [72]:
def to_postgres(user,server,database):
    engine_postgres = create_engine(f'postgresql+psycopg2://postgres:{user}@{server}/{database}')
    return engine_postgres

In [73]:
user = 'postgres'
server = 'localhost'
database = 'postgres'
to_postgres(user,server,database)

Engine(postgresql+psycopg2://postgres:***@localhost/postgres)

In [5]:
def to_sql(server,database):     
    quoted = urllib.parse.quote_plus('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes')
    engine_sql = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
    return engine_sql

In [6]:
server = '(LocalDb)\MSSQLLocalDB' 
database = 'test'
to_sql(server,database)

Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D%28LocalDb%29%5CMSSQLLocalDB%3BDATABASE%3Dtest%3BTrusted_Connection%3Dyes)

## Unstructured Data

### Image

#### Greyscale

In [11]:
path = 'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/humans/human01-00.png'

In [12]:
import cv2
  
# read the image file
img = cv2.imread(path, 2)
  
ret, bw_img = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
  
# converting to its binary form
bw = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)

In [41]:
import os
source_path = 'image'
source_horses = os.path.join(source_path,'horses')
source_humans = os.path.join(source_path,'humans')
source_horses.replace('\\','/')
source_humans.replace('\\','/')
print('horses',len(os.listdir(source_horses)))
print('humans',len(os.listdir(source_horses)))

horses 500
humans 500

In [66]:
horses = []
for i in (os.listdir(source_horses)):
    path = f'C:/Users/Hanif/Data Science/Data Engineer/Data-Engineer-with-Python/image/horses/{i}'
    img = cv2.imread(path, 2)
    ret, bw_img = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
    bw = cv2.threshold(img, 127, 255, cv2.THRESH_BINARY)
    horses.append(bw)
    np.array(horses)

C:\Users\Hanif\AppData\Local\Temp\ipykernel_20060\2472828962.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(horses)

In [134]:
df = pd.DataFrame({'name':os.listdir(source_horses),'image':horses})

In [140]:
image = []
for i in range(0,len(df['image'])):
    a = df['image'][i][1]/255
    a = a.tolist()
    image.append(a)

In [141]:
df['image_process'] = image

In [142]:
df = df[['name','image_process']]

In [144]:
df.to_sql('horses_image', to_postgres(user,server,database),if_exists='replace',index=False)

500

#### Varbinary

In [ ]:
server = '(LocalDb)\MSSQLLocalDB' 
database = 'test'
to_sql(server,database)